{% extends 'nav.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div style="padding-left:50px; padding-top:50px">
                <button class="btn btn-dark" id="show_inactive_nodes">Show Inactive Nodes</button>
            </div>
            <div id="inactive_nodes" style="visibility: hidden;padding-left:50px">
                <h1>List of Inactive nodes</h1>
                <ol>
                    {% for i in response %}
                    {% if i.nodeStatus == False %}
                    <li><a href="powerOn/{{i.nodeID}}">{{i.nodeName}}</a></li>

                    {% endif %}
                    {% endfor %}
                </ol>
                <button class="btn btn-dark" id="hide_inactive_nodes">Hide Active Nodes</button>
            </div>
        </div>
        <div class="col">
            <div style="padding-left:50px; padding-top:50px">
                <button class="btn btn-dark" id="show_active_nodes">Show Active Nodes</button>
            </div>
            <div id="active_nodes" style="visibility: hidden;padding-left:50px">
                <h1>List of Active nodes</h1>
                <ol>
                    {% for i in response %}
                    {% if i.nodeStatus %}
                    <li><a href="powerOff/{{i.nodeID}}">{{i.nodeName}}</a></li>

                    {% endif %}
                    {% endfor %}
                </ol>
                <button class="btn btn-dark" id="hide_active_nodes">Hide Active Nodes</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("show_inactive_nodes").addEventListener("click", () => {
        document.getElementById("inactive_nodes").style.visibility = "visible"
        document.getElementById("show_inactive_nodes").style.visibility = "hidden"
    });

     document.getElementById("hide_inactive_nodes").addEventListener("click", () => {
        document.getElementById("inactive_nodes").style.visibility = "hidden"
        document.getElementById("show_inactive_nodes").style.visibility = "visible"
    });
    document.getElementById("show_active_nodes").addEventListener("click", () => {
        document.getElementById("active_nodes").style.visibility = "visible"
        document.getElementById("show_active_nodes").style.visibility = "hidden"
    });

     document.getElementById("hide_active_nodes").addEventListener("click", () => {
        document.getElementById("active_nodes").style.visibility = "hidden"
        document.getElementById("show_active_nodes").style.visibility = "visible"
    });
</script>

{% endblock %}
