<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700'>

    {% comment %}
    <link rel="stylesheet" href="./style.css">
    {% endcomment %}

    <style>

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Fira Mono", Monospace;
  margin: 0;
  overflow-x: hidden;
}
body a {
  color: inherit;
}
body a:hover {
  color: #FFFFAE;
  background-color: #005F5F;
}
body .stream {
  margin-top: 8px;
}
body .line {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0 4px;
  padding-top: 2px;
  width: calc(100% - 12px);
}
body .line p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
body .line .name {
  max-width: 80px;
  min-width: 80px;
  text-align: right;
  padding-right: 6px;
}

body .editline {
  background-color: #262626;
  padding: 2px 4px 0px 4px;
  width: calc(100%);
  margin: 0;
  margin-bottom: 8px;
}
body .editline .edit {
  min-width: calc(100% - 200px);
  outline: none;
}
body .editline .time {
  user-select: none;
  cursor: default;
}

.whitet {
  color: #FFFFFF;
}

.redt {
  color: #FFFFFF;
}

.important {
  color: #E3A786;
}

.bluet {
  color: #FFFFFF;
}

.greent {
  color: #FFFFFF;
}

.selft {
  color: #FFFFFF;
}

::selection {
  color: #FFFFFF;
  background: #005F5F;
}

::-webkit-scrollbar {
  background-color: #3A3A3A;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
}

::-webkit-scrollbar-corner {
  background-color: #3A3A3A;
}

::-webkit-resizer {
  background-color: #3A3A3A;
}

.phjspenheader:hover {
  background-color: #D44C2A;
}
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<div class="stream"></div>
<div class="line editline">
   <p class="time"></p>
   <p class="name">&gt</p>
   <p contenteditable="true" autocapitalize="off" spellcheck="false"
      class="information edit"></p>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://codepen.io/z-/pen/dcdf9b1e328493afd4bd982ed98266d3.js'></script>

{% comment %} <script  src="./script.js"></script>
 {% endcomment %}

<script>

$(document).ready(function(e) {
   var faviconnumber = 1;
	function favicon() {
		favicon = favicon == 1 ? 2 : 1;
		$('.favicon').attr('href','favicon' + favicon + ".png");
	}
   console.clear();
   var commandlist = [ /*Can be populated with various methods*/
      ["/openstack baremetal node list", "Show all nodes"],
      ["/openstack baremetal node power on", "Power on node"],
      ["/openstack baremetal node power off", "Power off node"],
      ["/clear", "Clear the console"],
   ];

   var previouscommands = [];
   var currentcommand = 0;
   var pageindex = ["index", "about", "connect"];
   var currentpage = "openstack terminal";
   var url = "http://code.io/"

   function init() {
      setInterval(time);
      console.clear();
      console.log(new Date().getTime());
	  urlvars();
      log("(lessee)$", "For help say '/help'");
	  setInterval(favicon,500);
   }

   function urlvars() {
	   var pagelocs = window.location.pathname.replace("/","").split("/");
	   var pageloc = pagelocs[0];
	   console.log(pageloc);
	   //alert();
		if(pageloc != "") {
            if ($.inArray(pageloc, pageindex) >= 0) {
               currentpage = pageloc;
            }
		}
      	log("Website", + "Welcome to Openstack terminal");
		if(pageloc != "") {
            if ($.inArray(pageloc, pageindex) >= 0) {
               currentpage = pageloc;
               loadpage($.inArray(pageloc, pageindex));
            } else {

            }
		}
		if(pageloc == "") {
      		log("(lessee)$", "What would you like to access?");
		}
   }
   function getParam(name) {
<!--		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");-->
        name = "(lessee)$"
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec (window.location.href);
		if (results == null) {
			return "";
		}
		else  {
			return results[1];
		}
	}

   function log(name, information) {
      var d = new Date();
      var hours = ((d.getHours() < 10) ? "0" : "") + d.getHours();
      var minutes = ((d.getMinutes() < 10) ? "0" : "") + d.getMinutes();
      var seconds = ((d.getSeconds() < 10) ? "0" : "") + d.getSeconds();
      var colour = "whitet";
      var textcolour = "";
      var postcolour = "";

      switch (name[0]) {
         case "!":
            postcolour = " important";
            name = name.substr(1);
            break;
      }
      switch (name) {
         case "Website":
            colour = "redt";
            break;
         case "Server":
            colour = "bluet";
            break;
         case "Client":
            colour = "bluet";
            break;
         case "User":
            colour = "greent";
            postcolour = " selft";
            break;
      }
      if (information[0] == "A" && information[1] == "!") {
         information = information.substr(2);
         information = information.replace(/ /g, '\u00A0');
      }
      if (information[0] == "E" && information[1] == "!") {
         information = information.substr(2);
         postcolour = " important";
      }

      while (information.indexOf("](") >= 0) { //URL parser

         var NAMEregExp = /\(([^)]+)\)/;
         var uname = NAMEregExp.exec(information)[1];

         var URLregExp = /\[([^)]+)\]/;
         var url = URLregExp.exec(information)[1];
         var newpage = false;
         if (url[0] == "^") {
            newpage = true;
            url = url.substr(1);
         }
         var start = information.indexOf("[");
         var end = information.indexOf(")");
         if (newpage) {
            information = information.replace(information.substring(start, end + 1), "").splice(start, 0,
             '<a href="' + url + '" target="_blank">' + uname + '</a>');
         } else {
            information = information.replace(information.substring(start, end + 1), "").splice(start, 0,
             '<a href="' + url + '">' + uname + '</a>');
         }
         //information = '<a href="' + url + '">' + uname + '</a>'; //working

      }
      var tobold = true;
      var boldnumber = 0;
      for (var i = 0; i < information.length; i++) {
         if (information[i] == "*" && information[i - 1] != "*" && information[i + 1] != "*") {
            boldnumber++;
         }
      }
      while (information.indexOf("*") >= 0) { //Bold parser
         var pos = information.indexOf("*");
         information = information.replace("*", "");
         if (tobold) {
            information = information.splice(pos, 0, '<b>');
         } else {
            information = information.splice(pos, 0, '</b>');
         }
         tobold = !tobold;
         if (tobold && boldnumber <= 1) {
            break;
         }
         //information = '<a href="' + url + '">' + uname + '</a>'; //working
      }
      var tounderline = true;
      var underlinenumber = 0;
      for (var i = 0; i < information.length; i++) {
         if (information[i] == "*" && information[i - 1] != "*" && information[i + 1] != "*") {
            underlinenumber++;
         }
      }
      while (information.indexOf("**") >= 0) { //Bold parser
         var pos = information.indexOf("**");
         information = information.replace("**", "");
         if (tounderline) {
            information = information.splice(pos, 0, '<u>');
         } else {
            information = information.splice(pos, 0, '</u>');
         }
         tounderline = !tounderline;
         if (tounderline && underlinenumber <= 1) {
            break;
         }
         //information = '<a href="' + url + '">' + uname + '</a>'; //working
      } /**/
      $(".stream").append('<div class="line">' +
         '<p class="time">[' + hours + ":" + minutes + ":" + seconds + ']</p>' +
         '<p class="name ' + colour + '">' + name + '</p>' +
         '<p class="information' + postcolour + '">' + information + '</p>' +
         '</div>');
      $(document).scrollTop($(document).height() - $(window).height());
   }
	var timestring = "";
   function time() {
      var d = new Date();
      var hours = d.getHours();
      var minutes = d.getMinutes();
      var seconds = d.getSeconds();

      if (hours < 10) {
         hours = "0" + hours;
      }

      if (minutes < 10) {
         minutes = "0" + minutes;
      }

      if (seconds < 10) {
         seconds = "0" + seconds;
      }
	  var temptimestring = "[" + hours + ":" + minutes + ":" + seconds + "]";
	  if (temptimestring != timestring) {
		  timestring = temptimestring;
      	$(".editline .time").text(timestring);
	  }
   }

   var ctrldown = false;
   $(".editline .edit").keydown(function(e) {
      var text = $(".editline .edit").text();
      console.log(e.which);
      if (e.which == 13 && text !== "" && !ctrldown) {
         var commands = text.split(' ');
         var output = "";
         if (commands[0] == "help") {
            text = "/" + text;
         }
         $(".editline .edit").text("");
         log("(lessee)$", text);

         previouscommands[currentcommand] = text;
         currentcommand = previouscommands.length;
         $(".editline .edit").keydown(35);
         cmd(commands[0], text, commands);
         /*Add mod commands*/
         //modcmd(commands[0], text, commands);
         /*Add mod commands*/

      }
      if (e.which == 38) { //up
         if (currentcommand > 0) {
            currentcommand--;
            $(".editline .edit").text(previouscommands[currentcommand]);
         }
      }
      if (e.which == 40) { //down

         if (currentcommand < previouscommands.length) {
            currentcommand++;
            $(".editline .edit").text(previouscommands[currentcommand]);
         }
      }
   });

   function cmd(command, words, word) {
      switch (words) {
         case "/openstack baremetal node list":
         case "openstack baremetal node list":

<!--            for (var i = 0; i < 4; i++) {-->
<!--               output = output + " : " + number;-->
<!--            }-->
            log("(lessee)$", "ID: 2 | Name: Dell -2 | Power state: OFF | Provisioning state: available |");
            break;

         case "/clear":
            $(".stream").text("");
            break;

   case "/openstack baremetal node power on dell -2":
         case "openstack baremetal node power on dell -2":
<!--            for (var i = 0; i < commandlist.length; i++) {-->
<!--               output = commandlist[i][0] + " : " + commandlist[i][1];-->
<!--               //console.log(command[i][0]);-->
<!--               log("~(lessee)$", output);-->
<!--            }-->
            log("(lessee)$", "Powering on node...");
            break;

               case "/openstack baremetal node power off dell -2":
         case "openstack baremetal node power off dell -2":
<!--            for (var i = 0; i < commandlist.length; i++) {-->
<!--               output = commandlist[i][0] + " : " + commandlist[i][1];-->
<!--               //console.log(command[i][0]);-->
<!--              -->
<!--            }-->
             log("(lessee)$", "Powering off node...");
            break;

            case "/help":
         case "help":
            for (var i = 0; i < commandlist.length; i++) {
               output = commandlist[i][0] + " : " + commandlist[i][1];
               //console.log(command[i][0]);
               log("(lessee)$", output);
            }
            break;

         default:
            output = "Unrecognised command '" + word[0] + "'.";
            log("(lessee)$", output);
      }
   }

   function loadpage(i) {
      $.each(pages[i], function(id, content) {
         if (content != pageindex[i]) {
            log("Website", content);
         }
      });
   }
   var loginreturn = false;

   function loginemptyreturn() {
      //log("(lessee)$", "ER2");
      if (!loginreturn) {
         log("(lessee)$", "E![LOGIN] No Return Recieved");
      }
   }
   String.prototype.splice = function(idx, rem, str) {
      return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
   };
   init();
});
</script>

</body>
</html>
