{% extends 'nav.html' %}

{% block content %}
<div class="alert" role="alert" id="alert" style="visibility:hidden">

</div>
<h3 style="padding-left:600px;padding-top:50px">Node: {{name}}</h3>
<div style="padding-left:630px;padding-top:50px">
    <button type="button" class="btn btn-success" id="power_on">Power On</button>
    <button type="button" class="btn btn-danger" id="power_off">Power Off</button>
</div>


<script>
    document.getElementById("power_on").addEventListener("click", () => {
        document.getElementById("alert").style.visibility = "visible"
        document.getElementById("alert").classList.add('alert-success')
        document.getElementById("alert").classList.remove('alert-danger')
        document.getElementById("alert").innerHTML = "{{ name }} has been powered on!"
    });

    document.getElementById("power_off").addEventListener("click", () => {
        document.getElementById("alert").style.visibility = "visible"
        document.getElementById("alert").classList.add('alert-danger')
        document.getElementById("alert").classList.remove('alert-success')
        document.getElementById("alert").innerHTML = "{{ name }} has been powered off!"
    });
</script>

{% endblock %}
