{% extends 'nav.html' %}

{% block content %}
<div class="alert" role="alert" id="alert" style="visibility:hidden">

</div>
<h3 style="padding-left:600px;padding-top:50px">Node: {{name}}</h3>
<div style="padding-left:700px;padding-top:50px">
    <button type="button" class="btn btn-success" id="power_on">Power On</button>
</div>
<div style="padding-left:706px;padding-top:50px">
    <button type="button" class="btn btn-dark" onclick="location.href='{% url 'home' %}'">Go Back</button>
</div>

<script>
    document.getElementById("power_on").addEventListener("click", () => {
        document.getElementById("alert").style.visibility = "visible"
        document.getElementById("alert").classList.add('alert-success')
        document.getElementById("alert").classList.remove('alert-danger')
        document.getElementById("alert").innerHTML = "Powered On : {{ name }} "
    });
</script>

{% endblock %}
