#
# Utah specific rules for ops.To use this file, or another like it
# that you create in this directory, add to the defs file:
#
# FIREWALL_OPS=1
# FIREWALL_OPS_LOCALRULETMPL="utahops"
#
# For backups
add pass tcp from nstash to me 13782 setup
