.navbar-nav > li > a,
.navbar-nav > li > p {
  margin-top: 25px;
}

.navbar-btn.btn-xs,
.navbar-btn {
  margin-top: 25px;
}

.navbar-brand {
  height: 85px;
}

.navbar-nav > li > a.admin-toggle {
  margin-top: 30px;
}
/*
.navbar img {
  margin: 5 auto;
  height: 65px;
}
*/

.navbar {
  background-color: #cc0000;
}

.navbar-inner {
  background-color: #cc0000;
}

#footer {
  background-color: #cc0000;
}

.btn-success {
  background-color: #289328;
  border-color:     #237f23;
}
.btn-primary {
  background-color: #660000;
  border-color:     #b30000;
}
.btn-info {
  background-color: #2f64ad;
  border-color:     #2a5899;
}
.btn-warning {
  background-color: #8a7626;
  border-color:     #766520;
}
.btn-danger {
  background-color: #9c2a2a;
  border-color:     #882525;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home:active, 
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle:active, 
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
