#
# The template
#
use strict;
use libinstall;
use installvars;

sub Install($$$)
{
    my ($server, $isupdate, $impotent) = @_;

    # Replace if this script does an update for ip/domain.
    return 0
	if ($isupdate);

    Phase "cron", "Adding cron jobs", sub {
	Phase "crontab", "Editing $CRONTAB", sub {
	    DoneIfEdited($CRONTAB);
	    AppendToFileFatal($CRONTAB,
		      "0  \t6\t*\t*\t*\troot\t$PREFIX/sbin/audit",
		      "12 \t*\t*\t*\t*\troot\t$PREFIX/sbin/dumperrorlog",
		      "0  \t1\t*\t*\t*\troot\t$PREFIX/sbin/dbcheck",
		      "45 \t1\t*\t*\t*\troot\t$PREFIX/sbin/backup",
		      "*/5\t*\t*\t*\t*\troot\t$PREFIX/sbin/node_status",
		      "*/5\t*\t*\t*\t*\troot\t$PREFIX/sbin/prereserve_check",
		      "*/5\t*\t*\t*\t*\troot\t$PREFIX/sbin/idlemail",
		      "\@weekly\t\t\t\t\troot\t$PREFIX/sbin/sitecheckin_client",
		      "*/5\t*\t*\t*\t*\troot\t$PREFIX/sbin/notify-reservations"
		);
	};
    };
    return 0;
}

# Local Variables:
# mode:perl
# End:
