[Unit]
Description=Testbed Prepare Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/local/etc/emulab/initscripts/tbprepare stop
StandardOutput=journal+console
StandardError=journal+console
