[Unit]
Description=Testbed Services
After=network.target network-online.target local-fs.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/etc/emulab/initscripts/testbed start
ExecStop=/usr/local/etc/emulab/initscripts/testbed stop
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
