[Unit]
Description=Emulab console capture process for ops VM
After=network.target network-online.target

[Service]
ExecStart=/usr/local/sbin/capture-nossl -I -i -C -L -T 10 -R 2000 -X ops -l /var/log/tiplogs ops
KillMode=process
Restart=on-failure
Type=forking
PIDFile=/var/log/tiplogs/ops.pid

[Install]
WantedBy=multi-user.target
