[Unit]
Description=Emulab console capture process for boss VM
After=network.target network-online.target

[Service]
ExecStart=/usr/local/sbin/capture-nossl -I -i -C -L -T 10 -R 2000 -X boss -l /var/log/tiplogs boss
KillMode=process
Restart=on-failure
Type=forking
PIDFile=/var/log/tiplogs/boss.pid

[Install]
WantedBy=multi-user.target
