[Unit]
Description=Network Time Service
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/ntpd
ExecStart=/bin/sh -c 'source /etc/emulab/paths.sh; exec $BINDIR/ntpstart /usr/sbin/ntpd -n -u ntp:ntp $OPTIONS'

[Install]
WantedBy=multi-user.target
