ACTION=="add", SUBSYSTEM=="net", NAME!="", NAME=="eth*|en*|sl*|ww*|wl*", RUN+="/usr/local/etc/emulab/emulab-udev-network-interfaces-handler add $name $attr{address}"
ACTION=="add", SUBSYSTEM=="net", NAME=="", KERNEL=="eth*|en*|sl*|ww*|wl*", RUN+="/usr/local/etc/emulab/emulab-udev-network-interfaces-handler add $kernel $attr{address}"
