[Unit]
Description=Wait for the Emulab control network interface to come up for network-online.target
Documentation=man:interfaces(5) man:ifup(8)
DefaultDependencies=no
After=local-fs.target
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=2min
ExecStart=/bin/sh -ec 'while [ ! -e /var/run/cnet ]; do sleep 1; done; exit 0'

[Install]
WantedBy=network-online.target
