[Unit]
Description=Network Time Service
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/default/ntp
ExecStart=/bin/sh -c '. /etc/emulab/paths.sh ; exec $BINDIR/ntpstart /usr/sbin/ntpd -n -u ntp:ntp $NTPD_OPTS'

[Install]
WantedBy=multi-user.target
