# Setup lo0
add pass all from any to any via lo0
add deny all from any to 127.0.0.0/8
add deny ip from 127.0.0.0/8 to any
# We do not do ipv6
add deny all from any to ::1
add deny all from ::1 to any

# Match existing dynamic rules early
add check-state

# Allow established connections.
add pass tcp from any to any established

# Allow anything out. This subsumes some of the rules below. 
add pass tcp from me to any setup
add pass udp from me to any keep-state

# Allow ssh traffic from anywhere
add pass tcp from any to any 22 setup

# All ops to be a mail server
add pass tcp from any to any 25 setup

# Allow NTP traffic in and out
add pass udp from any to any ntp keep-state

# Allow DNS queries out.
add pass udp from me to any 53 keep-state

# Need this for X11 over ssh.
add pass tcp from me to me 6010 setup

# For DHCP. I do not think we need this on ops. 
#add pass udp from any to any bootps keep-state

# Allow NFS mounts to and from any emulab machines
#
# These next two for lockd, although subsumed by range rule following.
add pass udp from %alltestbed%   to me 111 keep-state
add pass udp from %jailnetwork%  to me 111 keep-state
add pass udp from %alltestbed%   to me 4045 keep-state
add pass udp from %jailnetwork%  to me 4045 keep-state
add pass udp from %alltestbed%   to me 2049-65535 keep-state
add pass udp from %jailnetwork%  to me 2049-65535 keep-state

# Allow IP fragments through due to the default 8k read/write size
add pass ip from any to me frag
add pass ip from me to any frag

# WARNING: This is in the router control set, and allows all udp ports.
# No idea why, there is no comment explaining.
#add pass udp from %alltestbed%   to me keep-state
#add pass udp from %jailnetwork%  to me keep-state

# Lockd again.
add pass tcp from %alltestbed%   to me 111 setup
add pass tcp from %jailnetwork%  to me 111 setup
add pass tcp from %alltestbed%   to me 2049 setup
add pass tcp from %jailnetwork%  to me 2049 setup

# Kirk has helpfully hardwired mountd to these ports on ops
add pass tcp from %alltestbed%   to me 900 setup
add pass tcp from %jailnetwork%  to me 900 setup
add pass udp from %alltestbed%   to me 900 keep-state
add pass udp from %jailnetwork%  to me 900 keep-state

# Let nodes talk to the Samba server on ops
add pass tcp from %alltestbed%   to me 445 setup
add pass udp from %jailnetwork%  to me 445 keep-state
add pass tcp from %alltestbed%   to me 139 setup
add pass udp from %jailnetwork%  to me 139 keep-state

# Allow ops to be a web server so that we can run a wiki and mailman
add pass tcp from any to me 80 setup
add pass tcp from any to me 443 setup

# Pubsub and old elvin. Maybe get rid of elvin.
add pass tcp from %alltestbed%  to me 16505 setup
add pass tcp from %jailnetwork% to me 16505 setup
add pass tcp from %alltestbed%  to me 2917 setup
add pass tcp from %jailnetwork% to me 2917 setup

# Allow high ports in but exclude problem ports.
add deny tcp from any to me 2049
add deny tcp from any to me 3306
# Blaster and Slammer
add deny tcp from any to me 4444
add deny tcp from any to me 1434
add pass tcp from any 1024-65535 to me 1024-65535  setup
add deny udp from any to me 2049
add deny udp from any to me 3306
# Blaster and slammer
add deny udp from any to me 4444
add deny udp from any to me 1434
add pass udp from any 1024-65535 to me 1024-65535 keep-state

# Allow ping. Well, all icmp. Problem?
add pass icmp from any to any

# Allow syslog from experimental nodes
add pass udp from %controlnetwork% to me 514 keep-state
add pass udp from %jailnetwork%  to me 514 keep-state

# ssh (tcp?) port proxying (Gary)
add pass tcp from any to me 43008-44032 setup

# Boss can do what it wants to me
add pass tcp from boss to me setup

%localrules% ops

# Deny everything else
add deny log ip from any to any
