#
# Utah specific rules for boss. To use this file, or another like it
# that you create in this directory, add to the defs file:
#
# FIREWALL_BOSS=1
# FIREWALL_BOSS_LOCALRULETMPL="utahboss"
#

#
# For backups
add pass tcp from nstash to me 13782 setup
