[Unit]
Description=Emulab systemd-networkd on %I
DefaultDependencies=no
Before=systemd-networkd.service
Wants=systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/local/etc/emulab/emulab-networkd.sh %i
