<div class="panel panel-info">
  <div class="panel-heading">
    <h5>
      <a data-toggle="collapse"
	 href="#aboutapt">
	What is Apt?
	<span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </a>
    </h5>
  </div>
  <div id="aboutapt" class="panel-collapse collapse">
    <div class="panel-body">
      <p>
	Apt is a testbed facility built around <em>profiles</em>.  A
	profile describes an <em>experiment</em>; when you instantiate a
	profile, that specification is realized on the Apt cluster using
	virtual or physical machines.  The creator of a profile may put
	code, data, and other resources into it, and the profile may
	consist of a single machine or may describe an entire network.
      </p>
      <p>
	Apt is a <em>platform for sharing research</em>; it is open to all
	researchers, educators, and students.  Basic access to public
	profiles on Apt is provided without the need to register for an
	account - this keeps the barriers to accessing research results
	low.  If you find the limited resources that are provided to
	unregistered users valuable, we
	recommend <a href="signup.php">signing up</a> for a <em>(free)</em>
	account to get access to more resources and to create profiles of
	your own.
      </p>
      <p>
	Apt is built on <a href="http:/www.emulab.net">Emulab</a> and
	<a href="http://www.geni.net">GENI</a> technologies.
	It is built and operated by the <a href="http://www.flux.utah.edu">Flux 
	  Research Group</a>, part of
	the <a href="http://www.utah.edu">University of  
	  Utah</a>'s <a href="http://www.cs.utah.edu">School of Computing</a>.
	Apt is funded by the National Science Foundation under award
	CNS-1338155 and	by the University of Utah.
      </p>
      <p>
	For help, bug reports, or other questions, come join the
	<a href="https://groups.google.com/forum/#!forum/apt-users">Discussion
	  Forum</a>
      </p>
    </div> <!-- Panel body -->
  </div> <!-- Collapser -->
</div> <!-- Panel -->
