<div class="panel panel-info">
  <div class="panel-heading">
    <h5>
      <a data-toggle="collapse" href="#aboutacct">
	Do I need an account?
	<span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </a>
    </h5>
  </div>
  <div id="aboutacct" class="panel-collapse collapse">
    <div class="panel-body">
      <p>
	Apt now requires an account to use; request one using the "Sign
        Up" button.
      </p>
      <p>
	If you already have an account on Emulab.net, you may log in
	using that same acount on Aptlab.net.
      </p>
    </div>
  </div>
</div>

