<table class='tablesorter' id='activity_table'>
  <thead>
    <tr>
      <th>Name
	<span data-toggle="popover"
	      data-trigger="hover"
	      data-content='Click to view the history data for the experiment,
			    including the topology, node list, manifest,
			    bindings (if parameterized), etc.'
	      class='glyphicon glyphicon-question-sign'
	      style='margin-bottom: 4px;'></span>
      </th>
      <th>Profile</th>
      <th>Pid</th>
      <th>Creator</th>
      <th>Portal</th>
      <th>Clusters</th>
      <th>PCs</th>
      <th>PHours</th>
      <th>VMs</th>
      <th>Started</th>
      <th>Destroyed</th>
      <th class='filter-false sorter-false'>ReRun
	<span data-toggle="popover"
	      data-trigger="hover"
	      data-content='Click to rerun this experiment again using the
			    same parameter selections (if parameterized).'
	      class='glyphicon glyphicon-question-sign'
	      style='margin-bottom: 4px;'></span>
      </th>
      <th class="hidden-column">UUID</th>
    </tr>
    <tr id='header-column-counts'>
      <th class='filter-false sorter-false'>Totals</th>
      <th class='filter-false sorter-false' colspan=5></th>
      <th class='filter-false sorter-false' data-math='col-sum'>0</th>
      <th class='filter-false sorter-false' data-math='col-sum'
	  data-math-mask='##0'>0</th>
      <th class='filter-false sorter-false' data-math='col-sum'>0</th>
      <th class='filter-false sorter-false' data-math='col-count'>0</th>
      <th class='filter-false sorter-false'></th>
      <th class='filter-false sorter-false'></th>
      <th class="hidden-column"></th>
    </tr>
  </thead>
  <tfoot>
    <tr id='footer-column-counts'>
      <th class='filter-false sorter-false'>Totals</th>
      <th class='filter-false sorter-false' colspan=5></th>
      <th class='filter-false sorter-false' data-math='col-sum'>0</th>
      <th class='filter-false sorter-false' data-math='col-sum'
	  data-math-mask='##0'>0</th>
      <th class='filter-false sorter-false' data-math='col-sum'>0</th>
      <th class='filter-false sorter-false' data-math='col-count'>0</th>
      <th class='filter-false sorter-false'></th>
      <th class='filter-false sorter-false'></th>
      <th class="hidden-column"></th>
    </tr>
  </tfoot>
  <tbody>
    <% _.each(instances, function(instance) { %>
      <tr>
	<td>
	  <% if (instance[7]) { %>
	    <a href='memlane.php?uuid=<%- instance[10] %>' target="_blank">
	  <% } else { %>
	      <a href='status.php?uuid=<%- instance[10] %>' target="_blank">
	  <% } %>
	  <%- instance[9] %></a>
	</td>
	<td>
	  <a href='show-profile.php?action=edit&uuid=<%- instance[2] %>'>
	    <%- instance[0] %></a>
	</td>
	<td>
	  <a href='show-project.php?project=<%- instance[1] %>'>
	    <%- instance[1] %></a>
	</td>
	<td>
	  <a href='user-dashboard.php?user=<%- instance[5] %>'>
	    <%- instance[5] %></a>
	</td>
	<td><%- instance[12] %></td>
	<td><%- instance[13] %></td>
	<td><%- instance[3] %></td>
	<td><%- instance[8] %></td>
	<td><%- instance[4] %></td>
	<td class='format-date'><%- instance[6] %></td>
	<td class='format-date'><%- instance[7] %></td>
	<td class="text-center">
	  <a href="instantiate.php?profile=<%- instance[2] %>&rerun_instance=<%- instance[10] %>" target="_blank">
	    <span class="align-center-inline
			 glyphicon glyphicon-play-circle"></span></a>
	</td>
	<td class="hidden-column"><%- instance[10] %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
