<!-- This is the Clone help box -->
<div class="panel panel-info">
  <div class="panel-heading">
    <button type='button' class='close' id="clone_popover_close">
          &times;</button>
    <h5>
	<center>What does Clone mean?</center>
    </h5>
  </div>
  <div class="panel-body">
      <p>
	Clone allows you to quickly convert a running experiment into
	a <em>new</em> profile, capturing the disk contents of your
	node and saving it away for later use by experiments based on
	the new profile.
      </p>
      <p>
	When you click on Clone, you will be taken to Create Profile
	page. All you need to do is choose a new name for your profile
	and click Create. 
      </p>
      <p>
	The node in your original experiment will be shutdown, and a
	disk image captured. You will be able to track the progress of
	the image capture as it proceeds. When it is done, the "Ready"
	flag will be checked, and your new profile is ready for use.
	You can then instantiate that profile just like you did the
	original profile.
      </p>
    </div>
  </div>
