<div>
  <% if (usefancy) { %>
    <div style="font-family:'Fira Sans'">
      <link href='https://fonts.googleapis.com/css?family=Fira+Sans'
rel='stylesheet' type='text/css'></link>
      <link href='css/basic-tooltip.css'
rel='stylesheet' type='text/css'></link>
      <!-- Big div to contain the two graphs -->
      <div style="margin:auto; width: 1000px">
	<!-- Nested divs to make it easy to center both the title and the graph -->
	<div style="width: 500px; float: left">
	  <h2 style="text-align: center">CloudLab Sites</h2>
	  <!-- Vertically center in a fixed-height div to vertically align the
               two different-sized graphs -->
	  <div style="height: 500px; margin: auto">
            <!-- Actual graph -->
            <div style="width:500px; margin: auto auto;" id="status-nofed"></div>
	  </div>
	</div>
	<div style="width:500px; float: right">
	  <h2 style="text-align: center">Federated Facilities</h2>
	  <div style="width:500px; margin: auto auto;" id="status-fedonly"></div>
	</div>
      </div>
    </div>
  <% } else { %>
    <center>
      <div id="status-local"></div>
    </center>
  <% } %>
</div>
