<div id='conversion-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h4>Convert your Classic experiment to a Profile</h4></center>
      </div>
      <div class='modal-body'>
	<p>
	  To ease the process of moving from NS file based
	  experiments, to profile based experiments, we have a simple
	  converter you can use that will auto generate geni-lib
	  python code from your NS file. The conversion produces
	  fairly typical machine generated code; code a human would
	  never voluntarily write. But it is correct, and you can use
	  it as a guide to help you write your own profiles once you
	  get comfortable with geni-lib scripts.
        </p>
	<p>
	  When you click on the convert button, you will be taken to
	  the Create Profile page, where we will generate the geni-lib
	  python code. You can then edit the geni-lib code, before
	  saving the new profile. More information about creating and
	  instantiating profiles can be found in the
	  <a href="<%- window.MANUAL %>">Manual</a>.
	</p>
      </div>
    </div>
  </div>
</div>
