<div id='copy-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
	  <span aria-hidden="true">&times;</span></button>
	<center><h4>Copy Profile</h4></center>
      </div>
      <div class='modal-body'>
	  <form class="form-horizontal">
	    <div class="form-group">
	      <label class="col-sm-5 control-label">
		New Profile Name</label>
	      <div class="col-sm-4">
		<input class="profile-name form-control"
		       placeholder="alphanumeric only">
		<div class="text-danger hidden
			    copy-profile-error name-error"></div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-sm-5 control-label">
		Project</label>
	      <div class="col-sm-4">
		<select class='profile-pid form-control'>
		  <option>Please Select</option>
		  <% _.each(projects, function(name) { %>
	            <option value='<%= name %>'><%= name %></option>
		  <% }); %>
		</select>
		<div class="text-danger hidden
			    copy-profile-error pid-error"></div>
	      </div>
	    </div>	      
	  </form>
	<div style="margin-top: 20px;">
          <center>
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
	    <button type='button' class='btn btn-success btn-sm'
		    id='copy-profile-confirm'>
              Create</button>
	    <div class="text-danger hidden copy-profile-error general-error"
		 style="text-align: center;"></div>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='profile-copied-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<center>
	  Your new profile has been created,
	  <div style="margin-top: 15px;">
            <button type='button'
                    class='btn btn-primary btn-sm'
		    style="margin-right: 10px;"
                    data-dismiss='modal' aria-hidden='true'>
	      Dismiss</button>
            <a href="" type='button'
               class='btn btn-success btn-sm'>
	       Edit Profile</a>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
