<table class="table table-hover table-condensed"
       style="margin-bottom: 0px">
  <thead>
    <tr><th colspan="3">Cluster Status</th></tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">Active Experiments:
	<span class="pull-right badge badge-info"
	      style="min-width: 4em" id="facility-experiments">-</span>
      </td>
    </tr>
    <% _.each(typeinfo, function(info, type) { %>
      <tr>
	<td><%- type %></td>
	<td id="facility-status-<%- type %>"><small>
	  <span class="badge badge-light">---</span></small></td>
	<td style="width: 8em">
	  <div class="progress" style="margin-bottom: 0px">
	    <div id="facility-full-<%- type %>"
		 class="progress-bar" role="progressbar">
	    </div>
	  </div>
	</td>
      </tr>
    <% }) %>
  </tbody>
</table>
