<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-sm-7 col-xs-12 cluster-status">
    </div>
    <div class="col-sm-5 col-xs-12">
      <table class="table table-hover table-condensed" style="margin-bottom: 0px">
        <thead>
          <tr>
            <th colspan="2">Activity</th>
          </tr>
          <tbody>
            <tr>
              <td>Projects</td>
              <td class="text-right" id="facility-total-projects">-</td>
            </tr>
            <tr>
              <td>Users</td>
              <td class="text-right" id="facility-total-users">-</td>
            </tr>
            <tr>
              <td>Profiles</td>
              <td class="text-right" id="facility-profiles">-</td>
            </tr>
            <tr>
              <td>Experiments</td>
              <td class="text-right" id="facility-total-experiments">-</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
