<!-- This is the guest instantiate modal -->
<div id='guest_instantiate_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<p>To ensure that your profile works for guest users, you should
	instantiate your profile as a guest user and confirm its
	operation. You may do this by clicking on the confirm button
	below. Please be aware that you will be <b>logged out</b> from your
	web session so that the test is accurate. 
        </p>
	<br>
        <center>
          <button type='button' style='margin-right: 20px;'
                  class='btn btn-primary btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
	  <button type='button' class='btn btn-success btn-sm'
		  id='guest_instantiate_submit_button'>
            Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>

