<style>
 .scrollable-panel {
     overflow-y: scroll;
 }
 .panel-body {
     padding: 5px;
 }
 .panel-heading {
     padding: 5px;
 }
 .panel-footer {
     padding: 5px;
 }
</style>
<div>
  <div class='col-lg-10 col-lg-offset-1
	      col-md-10 col-md-offset-1
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div id='description-panel' style="margin-top: 10px">
      <center class="text-danger">
	You must accept the following license agreement before continuing ...
      </center>
      <div class="license hidden" style="margin-top: 10px"></div>
    </div>
    <div class='panel panel-default' id='license-panel'>
      <div class='panel-body'>
	<center>
	  <small class="text-danger">
	    Please scroll to the bottom to accept license</small>
	</center>
	<div class="license-text"></div>
      </div>
      <div class='panel-footer'>
	<center>
          <button class='btn btn-danger btn-sm'; type='button'
		  id='reject-license'>Decline</button>
          <button class='btn btn-primary btn-sm'; type='button'
		  style="margin-left: 15px"
		  id='accept-license'>Accept and Continue</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id="oops-div"></div>
<div id="waitwait-div"></div>
