<div>
  <center><h4>Search for profiles</h4></center>
  <div class="table-responsive">
    <input class='form-control search' type='search' 
	   id='profile-search-box' placeholder='Search'>
    <div class="text-center">
      <small>
	There are <span class="match-count">0</span> matching profiles.
      </small>
    </div>
    <table class='tablesorter'
	   id='search-profiles-table'>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Creator</th>
	  <th>Project</th>
	  <th>Description</th>
	  <th>Created</th>
	  <th>Listed</th>
	  <th>Privacy</th>
	</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div>
  <div id='oops_div'></div>
  <div id='waitwait_div'></div>
</div>



