<!-- This is the guest instantiate modal -->
<div id='publish_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<p>
	  There are two types of profiles: <em>working versions</em> that
	  should be considered ephemeral, and <em>published versions</em>
	  that are intended to be long-term stable. For example, you may
	  generate many working versions as you refine the software, fix
	  bugs, etc. Then, when the profile is in a state where it is
	  appropriate to share with others, it can be published.
        </p>
	<p>
	  Note that published profiles are generally not deleted, but
	  ephemeral versions might be garbage collected to free up disk
	  space. We will never delete the most recent version of a profile
	  though, even if it is unpublished.
	</p>
        <center>
	  Do you want to publish your profile?
	  <br><br>
          <button type='button' style='margin-right: 20px;'
                  class='btn btn-primary btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
	  <button type='button' class='btn btn-success btn-sm'
		  id='publish_submit_button'>
            Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>

