<div class="row">
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default'>
      <div class="panel-heading">
	<h5>Please paste in your rspec</h5>
      </div>
      <div class='panel-body'>
	<div class="form-group">
	  <textarea class="form-control col-xs-12" id='rspec-textarea'
		    rows=15 type='textarea'></textarea>
	</div>
      </div>
      <div class='panel-footer'>
	<center>
	  <input class='filestyle' type='file'
		 id="rspec-upload-button"
		 data-classButton='btn btn-primary btn-xs'
		 data-input='false'
		 style='margin-right: 15px'
		 data-buttonText='Upload'>
	  <button class='btn btn-primary btn-xs'
		  type='button'
		  id='convert-button'>
            Convert</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default'>
	<div class="panel-heading">
	  <h5>Here is your geni-lib script</h5>
	</div>
	<div class='panel-body'>
	  <div class="form-group">
	    <textarea class="form-control col-xs-12" id='genilib-textarea'
		    rows=15 type='textarea'></textarea>
	  </div>
	</div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
