<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog' id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <h3>Topology Viewer</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='panel panel-default'
             id='showtopo_container'>
          <div class='panel-body'>
            <div id='showtopo_nopicker' class='jacks'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
