    <div class='col-sm-12'>
      <table class="tablesorter" id="utilization-table">
	<thead>
	  <th>Node</th>
	  <th>Type</th>
	  <th>Cluster</th>
	  <th>Status</th>
	  <th>State</th>
	  <th>Idle</th>
	  <th>Load (1/5/15)</th>
	</thead>
	<tbody>
	  <%  _.each(utilization, function(site, name) { %>
	    <%  _.each(site.details.nodes, function(node, nodeid) { %>
	      <tr>
		<td><%- nodeid %> (<%- node.client_id %>)</td>
		<td><%- node.nodetype %></td>
		<td><%- name %></td>
		<td>
		  <% if (_.has(node, 'status')) { %><%- node.status.status %>
		  <% } else { %>n/a<% } %>
		</td>
		<td><%- node.eventstate %></td>
		<td>
		  <% if (_.has(node, 'idledata')) { %>
		    <%- (node.idledata.idletime / 3600).toFixed(2) %>
		  <% } else { %>n/a<% } %>
		</td>
		<td>
		  <% if (_.has(node, 'rusage')) { %>
		    <%- node.rusage.load["60"] %>/<%- node.rusage.load["300"] %>/<%- node.rusage.load["900"] %>
		  <% } else { %>n/a<% } %>
		</td>
	      </tr>
	    <% }); %>
	  <% }); %>
	</tbody>
      </table>
    </div>
