    <div class='col-sm-6'>
      <div class='panel panel-default'>
	<div class="panel-heading text-center">
	  Summary for user <%= uid %>
	</div>
	<div class="panel-body">
	  <table class="table table-condensed">
	    <tbody>
	      <tr>
		<td>Current Usage:</td>
		<td><%- user.pnodes %> Node(s), <%- user.phours %> Node Hours</td>
	      </tr>
	      <tr>
		<td>Prev Week:</td>
		<td><%- user.weekpnodes %> Node(s), <%- user.weekphours %> Node Hours</td>
	      </tr>
	      <tr>
		<td>Prev Month:</td>
		<td><%- user.monthpnodes %> Node(s), <%- user.monthphours %> Node Hours</td>
	      </tr>
	      <% if (user.rank) { %>
		<tr>
		  <td><%- user.rankdays %> Day Ranking:</td>
		  <td>#<%- user.rank %> of <%- user.ranktotal %> active users</td>
		</tr>
	      <% } %>
	      <tr>
		<td># of Experiments:</td>
		<td><%- user.expcount %></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='panel panel-default'>
	<div class="panel-heading text-center">
	  Summary for project <%= pid %>
	</div>
	<div class="panel-body">
	  <table class="table table-condensed">
	    <tbody>
	      <tr>
		<td>Current Usage:</td>
		<td><%- project.pnodes %> Node(s), <%- project.phours %> Node Hours</td>
	      </tr>
	      <tr>
		<td>Prev Week:</td>
		<td><%- project.weekpnodes %> Node(s),
		  <%- project.weekphours %> Node Hours</td>
	      </tr>
	      <tr>
		<td>Prev Month:</td>
		<td><%- project.monthpnodes %> Node(s),
		  <%- project.monthphours %> Node Hours</td>
	      </tr>
	      <% if (project.rank) { %>
		<tr>
		  <td><%- project.rankdays %> Day Ranking:</td>
		  <td>#<%- project.rank %> of
		    <%- project.ranktotal %> active projects</td>
		</tr>
	      <% } %>
	      <tr>
		<td># of Experiments:</td>
		<td><%- project.expcount %></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
