<style>
  .tablesorter .filtered {
      display: none;
  }
</style>
  
<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <div id="projects-loading">
      <br>
      <br>
      <center>Loading
	<div>
	  <img src='images/spinner.gif' />
	</div>
      </center>
    </div>
    <div id="projects-loaded" class="hidden">
      <input class='form-control search' type='search' data-column='all'
	     id='projects-search' placeholder='Search'>
      <div id="projects-content"></div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='oops_div'></div>
</div>


