<!-- Confirm something -->
<div id='amchooser_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center>
	  <h3>Please Select Aggregate</h3>
	  <select id='amchooser_where'>
	    <% _.each(amlist, function(name) { %>
	    <option
	       <% if (name == amdefault) { %>
	           selected
	       <% } %>
	       value='<%= name %>'><%= name %>
	    </option>
	    <% }); %>
	  </select>
	  <br><br>
	  <center>
            <button class='btn btn-primary btn-sm'
		    style='margin-right: 20px;'
		    id='amchooser_submit_button'
                    type='button' name='create'>Continue
	    </button>
            <button class='btn btn-default btn-sm'
		    style='margin-right: 20px;'
		    data-dismiss='modal'
                    type='button'>Cancel
	    </button>
	  </center>
	</center>
      </div>
    </div>
  </div>
</div>
