<!-- How to make a copy of a repo-based profile -->
<div id='copy-repobased-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close"
                data-dismiss='modal' aria-hidden='true'>&times;</button>
        <center><h4>How To Copy	a Repository Based Profile</h4></center>
      </div>
      <div class='modal-body'>
        <p>
	  In order to make a copy of a repository based profile, you
	  first need to make a <em>fork</em> of the git repository at
	  any code management web site that supports publically readable
	  Git repositories (ie:
	  <a href="https://www.github.com/" target="_blank">GitHub</a>,
	  <a href="https://www.gitlab.com/" target="_blank">GitLab</a>, or
	  <a href="https://www.bitbucket.org/" target="_blank">Bitbucket</a>).
	  The URL for the original git repository that you need to fork is:
	  <div class="col-xs-8 col-xs-offset-2">
	    <input readonly type="text"
		   class="form-control input-sm gitrepo-url"
		   style="display: inline; width: 95%;
			  padding-left: 3px; padding-right: 3px;
			  padding-bottom: 0px; padding-top: 0px;"
		   value="foo bar fee">
	    <a href='#' class='btn btn-xs copy-to-clipboard'
	       style="display: inline; padding: 0px">
	      <span class='glyphicon glyphicon-copy'
		    style='margin-bottom: 4px;'></span>
	    </a>
	  </div>
	  <div class="clearfix"></div>	  
	</p>
	<p>
	  Be sure to make your new git repository publically readable
	  so that the Portal can access it.
	</p>
	<p>
	  Once your fork is created, use the
	  <a href="manage_profile.php" target="_blank">Create Profile</a>
	  page to create a new profile that is linked to your new
	  (forked) git repository.
	</p>
      </div>
    </div>
  </div>
</div>
