<div class='row'>
  <div class='col-lg-8 col-lg-offset-2
              col-md-8 col-md-offset-2
              col-sm-10 col-sm-offset-1
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Create a group in project
	  <%- formfields.project %></h3>
      </div>
      <div class='panel-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='create-group-form'
              class='form-horizontal' role='form'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <div class="form-group">
		<input name="project" readonly
		       id=project"
		       value="<%- formfields.project %>"
		       class="form-control format-me"
		       data-label="Project"
		       data-key="project">
	      </div>
	      <div class="form-group">
		<select name="group_leader"
			id='group_leader' 
			class='form-control format-me'
			data-label="Leader"
			data-key="group_leader"			
			placeholder='Please Select'>
		  <% _.each(members, function(uid, idx) { %>
	            <option 
			<% if (formfields.group_leader == uid) { %>
			selected
			<% } %>
			value='<%- uid %>'><%- uid %>
		    </option>
		  <% }); %>
		</select>
	      </div>
	      <div class="form-group">
		<input name="group_id"
		       value="<%- formfields.group_id %>"
		       class="form-control format-me"
		       data-key="group_id"
		       data-label="Group Name"
		       placeholder="alphanumeric, no spaces" type="text">
	      </div>
	      <div class="form-group">
 	        <textarea name="group_description"
		          rows=3
                          class='form-control format-me'
                          type='textarea'
			  data-label="Description"
			  data-key='group_description'
		><%- formfields.group_description %></textarea>
	      </div>
              <button class='btn btn-primary btn-sm pull-right'
                      id='create-group-button'
                      type='submit' name='create'>Create</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
