<div class='col-sm-10 col-sm-offset-1
	    col-xs-12'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class="text-center">
	<% if (editing) { %>Modify<% } else { %>Create<% } %> News Item</h4>
    </div>
    <div class='panel-body'>
      <span id="general_error" style="color:red;"></span>
      <form id='edit-news-form'
            class='form-horizontal' role='form'
	    data-format="wide" method='post'>
	<% if (editing) { %>
	  <input type='hidden' name=idx value='<%- formfields.idx %>'>
	<% } %>
	<% if (window.MAINSITE) { %>
	  <div class="form-group">
	    <div class="format-me"
		 data-label="Portals"
		 data-key="portals"
		 data-colsize="9">
	      <label class="checkbox-inline">
		<input name='portal_emulab'
		       class="portals_checkbox"
		       data-portal="emulab"
		       <% if (_.has(formfields, "portals") &&
			 formfields.portals.indexOf("emulab") >= 0) { %>
		       checked
		       <% } %>
		       type='checkbox'>Emulab
	      </label>
	      <label class="checkbox-inline">
		<input name='portal_cloudlab'
		       class="portals_checkbox"
		       data-portal="cloudlab"
		       <% if (_.has(formfields, "portals") &&
			 formfields.portals.indexOf("cloudlab") >= 0) { %>
		       checked
		       <% } %>
		       type='checkbox'>Cloudlab
	      </label>
	      <label class="checkbox-inline">
		<input name='portal_phantomnet'
		       class="portals_checkbox"
		       data-portal="phantomnet"
		       <% if (_.has(formfields, "portals") &&
			 formfields.portals.indexOf("phantomnet") >= 0) { %>
		       checked
		       <% } %>
		       type='checkbox'>PhantomNet
	      </label>
	      <label class="checkbox-inline">
		<input name='portal_powder'
		       class="portals_checkbox"
		       data-portal="powder"
		       <% if (_.has(formfields, "portals") &&
			 formfields.portals.indexOf("powder") >= 0) { %>
		       checked
		       <% } %>
		       type='checkbox'>Powder
	      </label>
	      <input name='portals'
		     value="<%- formfields.portals %>"
		     type='hidden'>
	    </div>
	  </div>
	<% } %>
	<div class="form-group">
	  <input name=title
		 value="<%- formfields.title %>"
		 class="form-control format-me"
		 data-key="title"
		 data-label="Title" type="text">
	</div>
	<div class="form-group">
	  <div class="format-me"
	       data-key='body'
	       data-label='Body'
	       data-help='Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click to see a rendering.'>	       
	    <textarea name=body
		      id='body'
		      rows=10
		      class='form-control'
		      type='textarea'><%= formfields.body %></textarea>
	  </div>
	</div>
	<div style="margin-top: 10px;"></div>
        <button class='btn btn-primary btn-xs pull-right'
                id='news-submit-button'
                type='submit' name='create'>Submit
	</button>
      </form>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='renderer_div'></div>
