<div>
  <center><h3>Example Profiles</h3></center>
  <h5>
    These profiles demonstrate how to construct various topologies and select
    options such as node type, operating system, etc.</h5>
  <div class="table-responsive">
    <input class='form-control search' type='search' data-column='all'
	   id='list-profiles-search' placeholder='Search'>
    <table class='tablesorter'
	   id='list-profiles-table'>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Created</th>
	  <th class="sorter-false">Description</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(profiles, function(value, name) { %>
	  <tr>
	    <td class="text-nowrap">
	      <% var url;
	         if (window.MAINSITE) {
		   url = "/show/" + value.pid + "/" + value.name;
		 }
	         else {
		   url = "show-profile.php?uuid=" + value.uuid;
		 }
	       %>
	      <a href='<%= url %>' target="_blank"><%= value.name %>
	    </td>
	    <td class="format-date text-nowrap">
	      <%- value.created %></td>
	    <td><%= value.desc %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>

