<div class='col-lg-4 col-lg-offset-4
            col-md-6 col-md-offset-3
            col-sm-10 col-sm-offset-1
            col-xs-12'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <center><h3 class='panel-title'>Geni Login</h3></center>
    </div>
    <div class='panel-body'>
      <p>
	You can use your Geni credentials to sign in. Just press
	the button below to get started. 
      </p>
      <center>
	<br>
	<button type='button' id='authorize'
		class='btn btn-primary btn-sm'>
	  Start</button>
      </center>
    </div>
  </div>
  <br>
  <center>
    <textarea id="credential" class='hidden'
	      cols=85 rows="10">credential</textarea>
  </center>
  <!-- place to hang the modals for now -->
  <div id='waitwait_div'></div>
</div>

