<div>
  <table class='tablesorter' id='groups_table' style="margin-bottom: 5px;">
    <thead>
      <tr>
	<th>Name</th>
	<th>Leader</th>
	<th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(groups, function(value, name) { %>
	<tr>
	  <td><a href='show-group.php?group=<%- value.gid_idx %>'>
	    <%= value.gid %></a></td>
	  <td style='white-space: nowrap;'>
	    <a href='user-dashboard.php?user=<%- value.leader_idx %>'>
	      <%- value.leader_name %></a></td>
	  <td><%- value.description %></td>	  
	</tr>
      <% }); %>
    </tbody>
  </table>
  <div>
    <a href="create-group.php?project=<%- pid %>">Create a new group</a>
  </div>
</div>


