<!-- Confirm something -->
<div id='instantiate_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center>
	  <h3>Instantiate this profile?</h3>
	  <% if (amlist && amlist.length) { %>
	  Please select an AM<br>
	  <select id='instantiate_where'>
	    <% _.each(amlist, function(name) { %>
	    <option
	       <% if (name == amdefault) { %>
	           selected
	       <% } %>
	       value='<%= name %>'><%= name %>
	    </option>
	    <% }); %>
	  </select>
	  <br><br>
	  <% } %>
          <button type='button' style='margin-right: 20px;'
                  class='btn btn-primary btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
	  <button type='button' class='btn btn-success btn-sm'
		  id='instantiate_submit_button'>
            Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
