<style>
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: small;
}
.panel-body > table {
    margin-bottom: 0px;
}
.table-fixed {
    overflow-y: auto;
    height: 400px;
 }
</style>
<div class='col-lg-12 col-lg-offset-0
	    col-md-12 col-md-offset-0
	    col-sm-12 col-sm-offset-0
	    col-xs-12 col-xs-offset-0'>
  <div>
    <table class='tablesorter'>
      <thead>
	<th>Type</th>
	<th>ID</th>
	<th>Len</th>
	<th>Node</th>
	<th>Iface</th>
	<th>Role</th>
	<th>Type</th>
	<th>Node</th>
	<th>Iface</th>
	<th>Role</th>
	<th>Type</th>
      </thead>
      <tbody>
	<% _.each(wires, function(info) { %>
	  <tr>
	    <td><%- info.wire_type %></td>
	    <td>
	      <% if (info.wire_id) { %><%- info.wire_id %><% } %>
	    </td>
	    <td>
	      <% if (info.wire_length != 0) { %>
		<%- info.wire_length %><% } %>
	    </td>
	    <td>
	      <%
	      var url = "show-node.php?node_id=" + info.node_id1;
	      if (info.isswitch1) {
		url = url + "#" + info.card1 + ":" + info.port1;
	      } %>
	      <a href="<%- url %>"><%- info.node_id1 %></a>
	    </td>
	    <td><%- info.iface1 %>
	      <% if (info.isswitch1) { %>
		(<%- info.card1 %>,<%- info.port1 %>)
		<span id='<% print(info.card1 + ":" +
			    info.port1) %>'></span>
	      <% } %>
	    </td>
	    <td><%- info.role1 %></td>
	    <td><%- info.type1 %></td>
	    <td>
	      <%
	      var url = "show-node.php?node_id=" + info.node_id2;
	      if (info.isswitch2) {
		url = url + "#" + info.card2 + ":" + info.port2;
	      } %>
	      <a href="<%- url %>"><%- info.node_id2 %></a>
	    </td>
	    <td><%- info.iface2 %>
	      <% if (info.isswitch2) { %>
		(<%- info.card2 %>,<%- info.port2 %>)
		<span id='<% print(info.card2 + ":" +
			    info.port2) %>'></span>
	      <% } %>
	    </td>
	    <td><%- info.role2 %></td>
	    <td><%- info.type2 %></td>
	  </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>

