<div class='col-sm-12'>
  <div class='panel panel-default' style="margin-bottom: 10px;">
    <div class="panel-heading text-center">
      Paste in your markdown and click the Render button</div>
    <div class='panel-body' id="markdown">
      <textarea rows="20" style="width: 100%;"></textarea>
    </div>
  </div>
</div>
<center>
  <button id="render-button" class="btn btn-default btn-sm">Render</button>
</center>
<div class='col-sm-12' style="margin-top: 10px;">
  <div class='panel panel-default hidden'>
    <div class='panel-body' id="rendered">
      <div style="height: auto; border: 1px;"></div>
    </div>
  </div>
</div>
<div id='oops-div'></div>
