<!-- This is the One-Only modal -->
<div id='oneonly-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<p>You have another experiment registered with this email
	address. Guest users in Apt are allowed one experiment at a
	time. You can return to your existing experiment, or register for
	an account if you like to make a new one. 
        </p>
	<br>
        <center>
          <button type='button' style='margin-right: 20px;'
                  class='btn btn-success btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Return to Experiment</button>
	  <a class='btn btn-primary btn-sm' href='signup.php'>
	    Register</a>
      </div>
    </div>
  </div>
</div>

