<style>
 .esri-layer-list__item-container {
     padding: 2px;
 }
 .esri-component.esri-layer-list.esri-widget.esri-widget--panel,
 .esri-layer-list.esri-widget.esri-widget--panel {
     width: 225px;
 }
 .esri-popup__main-container.esri-widget {
     width: 400px !important;
     max-height: 400px !important;
 } 
</style>
<% if (window.BASEONLY) { %>
  <div class="powder-mapview" style="height: 99%"></div>
<% } else { %>
  <div class="row">
    <% if (0 && window.SHOWFILTER) { %>
      <div class="col-sm-4 col-md-4 col-lg-3" id="filtering-options"></div>
    <% } %>
    <div
	<% if (0 && window.SHOWFILTER) { %>
	class="col-sm-8 col-md-8 col-lg-9" <% } %> >
      <div class="panel panel-default" style="margin-bottom: 0px;">
	<div class="panel-body" style="padding: 0px;">
	  <div class="powder-mapview" style="height: 85%"></div>
	</div>
      </div>
    </div>
  </div>
<% } %>

