<div class="panel panel-default" style="margin-bottom: 0px;">
  <div class="panel-body" id="map-controls"
       style="padding-left: 10px; padding-right: 5px;">
    <center>
      Filtering Options
    </center>
    <div class="checkbox">
      <label class="checkbox-inline">
	<input id="show-available" type="checkbox">
	Available
      </label>
      <label class="checkbox-inline hidden" id="show-reserved-checkbox">
	<input id="show-reserved" type="checkbox">
	Reserved
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox-inline">
	<input type="checkbox" class="radio-type"
	       data-radio-type="B210" value="B210">
	B210
      </label>
      <label class="checkbox-inline">
	<input type="checkbox" class="radio-type"
	       data-radio-type="N310" value="N310">
	N310
      </label>
      <label class="checkbox-inline">
	<input type="checkbox" class="radio-type"
	       data-radio-type="X310" value="X310">
	X310
      </label>	
    </div>
    <div class="checkbox range-one">
      <label class="checkbox-inline">
	<input type="checkbox" class="range-tx range-checkbox">TX
      </label>
      <label class="checkbox-inline"
	     style="margin-left: 5px; margin-right: 5px;">
	<input type="checkbox" class="range-rx range-checkbox">RX
      </label>
      <input type="text" class="range-low" style="width: 48px;"
	     placeholder="Low" size="6">
      <input type="text" class="range-high" style="width: 48px;"
	     placeholder="High" size="6">
    </div>
    <div class="checkbox range-two">
      <label class="checkbox-inline">
	<input type="checkbox" class="range-tx range-checkbox">TX	    
      </label>
      <label class="checkbox-inline"
	     style="margin-left: 5px; margin-right: 5px;">
	<input type="checkbox" class="range-rx range-checkbox">RX
      </label>
      <input type="text" class="range-low" style="width: 48px;"
	     placeholder="Low" size="6">
      <input type="text" class="range-high" style="width: 48px;"
	     placeholder="High" size="6">
    </div>
  </div>
</div>
