<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <center>
      <h3>Powder Emergency Stop</h3>
    </center>
    <center style="font-size: 16px;">
      Insert explanatory text and warnings here. 
    </center>
    <center id="panic-button-div" style="margin-top: 15px;">
      <button class='btn btn-lg btn-danger' 
	      id='powder-shutdown-button' type=button>
	Emergency Stop</button>      
    </center>
    <div id="panic-listing-div" class="hidden" style="margin-top: 10px;">
      <center>
	<div class="working"
	     style="margin-bottom: 10px; font-size: 16px;">
	  Working ... patience please.
	  <div>
	    <img src='images/spinner.gif' />
	  </div>
	</div>
	<div class="finished hidden"
	     style="margin-bottom: 10px; font-size: 16px;">
	  Done!
	</div>
	<div>
	  <table class='tablesorter' id='experiments-table'>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Creator</th>
		<th>Created</th>
		<th>Status</th>
		<th>Cluster(s)</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </center>
    </div>
  </div>
</div>
<div id='confirm-shutdown-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <center><h4 class="prompt">Confirm Emergency Shutdown?</h4></center>
      </div>
      <div class='modal-body'>
	<center>
          <button style='margin-right: 20px;'
                  class='btn btn-primary btn-sm'
		  data-dismiss='modal'>
	    Cancel</button>
          <button class='btn btn-danger btn-sm' id="confirm-shutdown-button">
	    Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='noexperiments-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class="close"
                data-dismiss='modal' aria-hidden='true'>&times;</button>
	<center>
	  <h3>There are no Powder experiments to shutdown!</h3>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
