<style>
 .popover{
     max-width: 800px;
 }
 .tablesorter-green .tablesorter-header-inner {
     padding-left: 17px !important;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px !important;
 }
</style>
<div>
  <table class='tablesorter' id='prereservations-table-<%- name %>'>
    <thead>
      <tr>
	<th class="sorter-false">&nbsp</th>
	<th>Name</th>
	<% if (showuser) { %><th>Creator</th><% } %>
	<% if (showproject) { %><th>Project</th><% } %>
	<th>Type(s)</th>
	<th>Size</th>
	<th>Count</th>
	<th>Using</th>
	<th>Created</th>
	<th>Starts</th>
	<th>Ends</th>
	<% if (showstatus) { %><th>Status</th><% } %>
	<th class="sorter-false">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(prereservations, function(value, uuid) { %>
	<% var expando = "collapse-" + value.uuid; %>
	<tr data-uuid="<%- value.uuid %>"
	    data-type="prereservation"
	    data-pid="<%- value.pid %>"
	    data-cluster="<%- value.cluster_id %>"
	    <% if (value.uid_idx) { %>
	      data-uid_idx="<%- value.uid_idx %>"
	    <% } %>>
	  <td rowspan="2" style='white-space: nowrap;'>
	    <a href="#"
	       <% if (! (value.prereserved.length || value.nodes.length)) { %>
	       class="invisible"
	       <% } else { %>
	       class="show-childrow"
	       <% } %>
	       >
	      <span class='glyphicon glyphicon-chevron-right pull-left'
		    style='margin-left: 0px; margin-right: 8px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Click to show details'></span></a>
	    <% if (showcontrols) { %>
	      <% if (isadmin) { %>
		<a href="#" class="deny-button invisible">
		  <span class='glyphicon glyphicon-thumbs-down pull-left'
			style='color: red; margin-left: 0px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Deny with reason'></span>
		</a>
		<a href="#" class="approve-button invisible">
		  <span class='glyphicon glyphicon-thumbs-up pull-left'
			style='color: red; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Approve reservation'></span>
		</a>
	      <% } %>
	      <a href="#" class="delete-button">
		<span class='glyphicon glyphicon-remove pull-left'
		      style='color: red; margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Delete reservation'></span>
	      </a>
	      <a href="prereserve.php?edit=1&cluster=<%- value.cluster_id %>&uuid=<%- value.uuid %>"
		 class="edit-button hidden">
		<span class='glyphicon glyphicon-pencil pull-left text-primary'
		      style='margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Edit reservation details'></span>
	      </a>
	      <% if (isadmin) { %>
		<% if (value.uid_idx) { %>
		  <a href="#" class="info-button">
		    <span class='glyphicon glyphicon-info-sign pull-left
				 text-warning'
			  style='margin-bottom: 4px;
				 margin-left: 5px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Send a message to user'></span>
		  </a>
		  <a href="#" class="warn-button">
		    <span class='glyphicon glyphicon-warning-sign pull-left
				 text-warning'
			  style='margin-bottom: 4px;
				 margin-left: 5px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Warn user about unused reservaton'></span>
		  </a>
		<% } %>
	      <% } %>
	    <% } %>
	  </td>
	  <td><%- value.name %></td>
	  <% if (showuser) { %>
	    <td style='white-space: nowrap;'>
	      <% if (value.uid_idx) { %>
		<a href='user-dashboard.php?user=<%- value.uid %>'>
		  <%- value.uid %></a>
	      <% } else { %>
		<%- value.remote_uid %>
	      <% } %>
	    </td>
	  <% } %>	    
	  <% if (showproject) { %>	  
	    <td style='white-space: nowrap;'>
	      <% if (value.pid_idx) { %>
		<a href='show-project.php?project=<%- value.pid %>'>
		  <%- value.pid %></a>
	      <% } else { %>
		<%- value.remote_pid %>
	      <% } %>
	    </td>
	  <% } %>
	  <td><%- value.types %></td>
	  <td><%- value.size %></td>
	  <td><%- value.preres %></td>
	  <td><%- value.using %></td>
	  <td class="format-date"><%- value.created %></td>
	  <td>
	    <% if (!value.start) { %>
	      &nbsp
	    <% } else if (new Date().getTime() >
	                  new Date(value.start).getTime()) { %>
	      <span class="format-date"
		    style="color: green;"><%- value.start %></span>
	    <% } else { %>
	      <span class="format-date"><%- value.start %></span>
	    <% } %>
	  </td>
	  <td>
	    <% if (!value.end) { %>
	      &nbsp
	    <% } else { %>
	      <span class="format-date"><%- value.end %></span>
	    <% } %>
	  </td>
	  <% if (showstatus) { %>
	  <td class="status-column">
	    <span class="status-approved hidden">Approved</span>
	    <span class="status-pending hidden text-danger">Pending</span>
	    <span class="status-canceled hidden">
	      <span class="text-danger">Canceled</span>
	      <% if (isadmin && showcontrols) { %>
		<a href="#" class="cancel-cancel-button">
		  <span class='glyphicon glyphicon-thumbs-up'
			style='color: green; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Cancel Cancellation'></span>
		</a>
	      <% } %>
	    </span>
	  </td>
	  <% } %>
	  <td align="center">
	    <a href="#" 
	       data-toggle='popover'
	       data-html='true'
	       data-trigger='hover'
	       data-title="Reservation Notes"
	       data-content="<div class='form-control'
			     style='height: auto;'><%- value.notes %></div>">
	      <span>&#8230;</span>
	    </a>
	  </td>
	</tr>
	<tr class="tablesorter-childRow">
	  <td colspan=12>
	    <% if (value.prereserved.length || value.nodes.length) { %>
	      <div style="width: 500px;">
		<table class='tablesorter'>
		  <thead>
		    <th>Node</th>
		    <th>Type</th>
		    <th>Status</th>
		  </thead>
		  <tbody>
		    <% if (value.prereserved.length) { %>
		      <% _.each(value.prereserved, function(info) { %>
			<tr>
			  <td><%- info.node_id %></td>
			  <td><%- info.type %></td>
			  <td><%- info.state %></td>
			</tr>
		      <% }); %>
		    <% } %>
		    <% if (value.nodes.length) { %>
		      <% _.each(value.nodes, function(info) { %>
			<tr>
			  <td><%- info.node_id %></td>
			  <td><%- info.type %></td>
			  <td>busy</td>
			</tr>
		      <% }); %>
		    <% } %>
		  </tbody>
		</table>
	      </div>
	    <% } %>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
