<div class='row'>
  <center>
    <h4>Profile Activity for <%- window.PROFILE_PID %>/<%- window.PROFILE_NAME %></h4>
  </center>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <table id="profile-activity-table" class='tablesorter'>
      <thead>
	<tr>
	  <th>Vers</th>
	  <th>Name
	    <span data-toggle="popover"
		  data-trigger="hover"
		  data-content='Click to view the history data for the experiment,
				including the topology, node list, manifest,
				bindings (if parameterized), etc.'
		  class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'></span>
	  </th>
	  <th>Project</th>
	  <th>Creator</th>
	  <th>Created</th>
	  <th>Destroyed</th>
	  <th>Clusters</th>
	  <th class="sorter-false">Error</th>
	  <th class='sorter-false text-center'>ReRun
	    <span data-toggle="popover"
		  data-trigger="hover"
		  data-content='Click to rerun this experiment again using the
				same parameter selections (if parameterized).'
		  class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'></span>
	  </th>
	</tr>
      </thead>
      <tbody>
	<% _.each(instances, function(instance) { %>
	<tr>
	  <td>
	    <a href='manage_profile.php?action=edit&uuid=<%- instance.p_uuid %>'>
	      <%- instance.p_version %></a>
	  </td>
	  <td>
	    <% if (instance.active) { %>
	      <a href='status.php?uuid=<%- instance.uuid %>' target="_blank">
		<%- instance.name %></span></a>
	      <% } else { %>
		  <a href='memlane.php?uuid=<%- instance.uuid %>' target="_blank">
		    <%- instance.name %></span></a>
	      <% } %>
	  </td>
	  <td>
	    <a href='show-project.php?project=<%- instance.pid %>'>
	      <%- instance.pid %></a>
	  </td>
	  <td><%- instance.creator %></td>
	  <td class="format-date"><%- instance.created %></td>
	  <td class="format-date"><%- instance.destroyed %></td>
	  <td><%- instance.clusters %></td>
	  <td class="text-danger">
	    <% if (_.has(instance, "iserror")) { %>
	      <% if (_.has(instance, "error_message")) { %>
		<span style="text-decoration: underline;"
		      data-toggle='popover'
		      data-delay='{"hide":100, "show":500}'
		      data-html='true'
		      data-uuid="<%- instance.uuid %>"
		      data-content="<code style='white-space: pre-wrap'><%- instance.error_message %></code>"
		><%- instance.error_reason %></span>
	      <% } else { %>
		<%- instance.error_reason %>
	      <% } %>
	    <% } %>
	  </td>
	  <td class="text-center">
	    <a href="instantiate.php?profile=<%- instance.p_uuid %>&rerun_instance=<%- instance.uuid %>" target="_blank">
	      <span class="align-center-inline
			   glyphicon glyphicon-play-circle"></span></a>
	  </td>
	</tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>


