<div>
  <center><h4>Public Profiles</h4></center>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active">
	    <a href="#most-used" role="tab" data-toggle="tab">
	      Most Used</a>
	  </li>
	  <li role="presentation">
	    <a href="#recently-used" role="tab" data-toggle="tab">
	      Recently Used</a>
	  </li>
	  <li role="presentation">
	    <a href="#recently-created" role="tab" data-toggle="tab">
	      Recently Created</a>
	  </li>
	  <li role="presentation">
	    <a href="#examples" role="tab" data-toggle="tab">
	      Examples</a>
	  </li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="most-used">
	    <div class="table-responsive">
	      <input class='form-control search' type='search' data-column='all'
		     placeholder='Search'>
	      <table class='tablesorter'>
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Creator</th>
		    <th class="text-nowrap">Last Used</th>
		    <th>Created</th>
		    <th>Count</th>
		    <th class="sorter-false">Description</th>
		  </tr>
		</thead>
		<tbody>
		  <% _.each(most, function(value, name) { %>
		    <tr>
		      <td class="text-nowrap">
			<% var url;
			url = "show-profile.php?uuid=" + value.uuid;
			%>
			<a href='<%= url %>' target="_blank"><%= value.name %></a>
		      </td>
		      <td class="text-nowrap">
			<%- value.creator %></td>
		      <td class="format-date text-nowrap">
			<%- value.lastused %></td>
		      <td class="format-date text-nowrap">
			<%- value.created %></td>
		      <td><%- value.count %></td>
		      <td><%= value.desc %></td>
		    </tr>
		  <% }); %>
		</tbody>
	      </table>
	    </div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="recently-used">
	    <div class="table-responsive">
	      <input class='form-control search' type='search' data-column='all'
		     placeholder='Search'>
	      <table class='tablesorter'>
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Creator</th>
		    <th class="text-nowrap">Last Used</th>
		    <th>Created</th>
		    <th>Count</th>
		    <th class="sorter-false">Description</th>
		  </tr>
		</thead>
		<tbody>
		  <% _.each(recent, function(value, name) { %>
		    <tr>
		      <td class="text-nowrap">
			<% var url;
			url = "show-profile.php?uuid=" + value.uuid;
			%>
			<a href='<%= url %>' target="_blank"><%= value.name %></a>
		      </td>
		      <td class="text-nowrap">
			<%- value.creator %></td>
		      <td class="format-date text-nowrap">
			<%- value.lastused %></td>
		      <td class="format-date text-nowrap">
			<%- value.created %></td>
		      <td><%- value.count %></td>
		      <td><%= value.desc %></td>
		    </tr>
		  <% }); %>
		</tbody>
	      </table>
	    </div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="recently-created">
	    <div class="table-responsive">
	      <input class='form-control search' type='search' data-column='all'
		     placeholder='Search'>
	      <table class='tablesorter'>
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Creator</th>
		    <th class="text-nowrap">Last Used</th>
		    <th>Created</th>
		    <th>Count</th>
		    <th class="sorter-false">Description</th>
		  </tr>
		</thead>
		<tbody>
		  <% _.each(created, function(value, name) { %>
		    <tr>
		      <td class="text-nowrap">
			<% var url;
			url = "show-profile.php?uuid=" + value.uuid;
			%>
			<a href='<%= url %>' target="_blank"><%= value.name %></a>
		      </td>
		      <td class="text-nowrap">
			<%- value.creator %></td>
		      <td class="format-date text-nowrap">
			<%- value.lastused %></td>
		      <td class="format-date text-nowrap">
			<%- value.created %></td>
		      <td><%- value.count %></td>
		      <td><%= value.desc %></td>
		    </tr>
		  <% }); %>
		</tbody>
	      </table>
	    </div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="examples">
	    <div class="table-responsive">
	      <input class='form-control search' type='search' data-column='all'
		     placeholder='Search'>
	      <table class='tablesorter'>
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Creator</th>
		    <th class="text-nowrap">Last Used</th>
		    <th>Created</th>
		    <th>Count</th>
		    <th class="sorter-false">Description</th>
		  </tr>
		</thead>
		<tbody>
		  <% _.each(examples, function(value, name) { %>
		    <tr>
		      <td class="text-nowrap">
			<% var url;
			url = "show-profile.php?uuid=" + value.uuid;
			%>
			<a href='<%= url %>' target="_blank"><%= value.name %></a>
		      </td>
		      <td class="text-nowrap">
			<%- value.creator %></td>
		      <td class="format-date text-nowrap">
			<%- value.lastused %></td>
		      <td class="format-date text-nowrap">
			<%- value.created %></td>
		      <td><%- value.count %></td>
		      <td><%= value.desc %></td>
		    </tr>
		  <% }); %>
		</tbody>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
<div>
  <div id='oops_div'></div>
  <div id='waitwait_div'></div>
</div>



