<div class='panel panel-default'>
  <div class="panel-heading">
    <center>
      <h3 class="panel-title">All Frequency Reservations</h3>
    </center>
  </div>
  <div class='panel-body' style="padding: 2px;">
    <table class='tablesorter range-list'>
      <thead>
	<th>Low Freq</th>
	<th>High Freq</th>
	<th>Start</th>
	<th>End</th>
      </thead>
      <tbody>
	<% _.each(ranges, function(info) { %>
	  <tr>
	    <td><%- info.freq_low %>
	      <% if (_.has(info, "isexp")) { %>
		<small>
		  <span class='pull-right glyphicon glyphicon-asterisk'></span>
		</small>
	      <% } %>
	    </td>
	    <td><%- info.freq_high %></td>
	    <td class="format-date"><%- info.start %></td>
	    <td class="format-date"><%- info.end %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
    <small class="experiment-reserved-ranges hidden">
      <span class='glyphicon glyphicon-asterisk'></span>
      Currently running experiments</caption></small>
  </div>
  </div>
</div>

