<div class='row'>
  <div class='col-sm-12'>
    <center class="form-inline">
      <div class="form-group">
	<input value=<%= days %> id="days" size="3">
	<label>day ranking;</label>
      </div>
      <div class="form-group">
	<input type="checkbox"
	       <% if (allusers) { %>checked<% } %>
	       id="allusers">
	<label>All Users</label>
	</label>
      </div>
      <button class='btn btn-primary btn-xs' 
	      id='update-results'
              type='submit'>Go</button>
    </center>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href="#users" role="tab"
		     data-toggle="tab">Users</a></li>
		<li role="presentation">
		  <a href="#projects" role="tab"
		     data-toggle="tab">Projects</a></li>
		<li role="presentation">
		  <a href="#profiles" role="tab"
		     data-toggle="tab">Profiles</a></li>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="users">
		  <div class="table-responsive">
		    <input class='form-control search'
			   style="width: 300px; margin-right: 15px; display: inline;"
			   type='search' data-column='all'
			   id='users_search' placeholder='Search'>
		    <span class="output-dropdown-control"></span>
		    <table class='tablesorter' id='users_table'>
		      <thead>
			<tr>
			  <th>UID</th>
			  <th>Rank</th>
			  <th>Name</th>
			  <th>Affiliation</th>
			  <th>Pnodes</th>
			  <th>Phours</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(users, function(value, uid) { %>
			  <tr>
			    <td>
			      <a href='user-dashboard.php?user=<%= uid %>'>
				<%= uid %></a>
			    </td>
			    <td><%= value.rank %></td>
			    <td><%= value.usr_name %></td>
			    <td><%= value.usr_affil %></td>
			    <td><%= value.pnodes %></td>
			    <td><%= value.phours %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="projects">
		  <div class="table-responsive">
		    <input class='form-control search' type='search' data-column='all'
			   style="width: 300px; margin-right: 15px; display: inline;"
			   id='projects_search' placeholder='Search'>
		    <span class="output-dropdown-control"></span>
		    <table class='tablesorter' id='projects_table'>
		      <thead>
			<tr>
			  <th>PID</th>
			  <th>Rank</th>
			  <th>Leader</th>
			  <th>Affiliation</th>
			  <th>Pnodes</th>
			  <th>Phours</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(projects, function(value, pid) { %>
			  <tr>
			    <td>
			      <a href='show-project.php?project=<%= pid %>'>
				<%= pid %></a>
			    </td>
			    <td><%= value.rank %></td>
			    <td>
			      <a href='user-dashboard.php?user=<%= value.usr_uid %>'>
				<%= value.usr_name %></a>
			    </td>
			    <td><%= value.usr_affil %></td>
			    <td><%= value.pnodes %></td>
			    <td><%= value.phours %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div class="table-responsive">
		    <input class='form-control search'
			   style="width: 300px; margin-right: 15px; display: inline;"
			   type='search' data-column='all'
			   id='profiles_search' placeholder='Search'>
		    <span class="output-dropdown-control"></span>
		    <table class='tablesorter' id='profiles_table'>
		      <thead>
			<tr>
			  <th>Name</th>
			  <th>Rank</th>
			  <th>PID</th>
			  <th>Count</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(profiles, function(value, rank) { %>
			  <tr>
			    <td>
			      <% if (value.uuid) { %>
				<a href='show-profile.php?uuid=<%= value.uuid %>'>
				  <%= value.name %></a>
			      <% } else { %>
				<%= value.name %>
			      <% } %>
			    </td>
			    <td><%= value.rank %></td>
			    <td>
			      <a href='show-project.php?project=<%= value.pid %>'>
				<%= value.pid %></a>
			    </td>
			    <td><%= value.count %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
