<!-- This is the register modal -->
<div id='register_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <h3>Register for an account</h3>
      </div>
      <div class='modal-body'>
        <p>If you want to design your own experiments, have more then
          one active experiment at a time, or extend the life of an
          experiment longer, you should register for a full account.
          Click on the link below to take you to the registration page.
        </p><br>
        <button class='btn btn-primary align-center'
	        id='register-account'
                type='submit' name='register'>Register</button>
      </div>
    </div>
  </div>
</div>


