<!-- Share a profile -->
<div id='share_profile_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button'
		class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<h4 class='modal-title text-center'>Share this Profile</h4>
      </div>
      <div class='modal-body'>
	<p> You can share a profile by sending a link to your
	  collaborators (even if they are in others projects). They
	  will be able to view and instantiate the profile.
	</p>
	<p>
	  <% if (fromrepo) { %>
	    When sharing a repository based profile, this link will
	    instantiate the head of the default branch. To send a link
	    to a different branch, click on the <em>Share</em> button
	    in the branch list below. 
	  <% } else { %>
	    When sharing a <em>version</em>, the link refers to
	    the specific version you are sending. When sharing
	    a <em>profile</em>, the link always refers to the most recent
	    version of the profile (regardless of when the link is
	    used).
	  <% } %>
	</p>
        <center>
	  <form class="form-horizontal">
	    <% if (!fromrepo) { %>
	    Share this version:
	    <div style="margin-top: 5px;">
	      <div class="copy-to-clipboard form-inline">
		<input readonly
		       style="width: 90%"
		       class="form-control"
		       value='<%- formfields.profile_version_url %>'>
		<a href='#' class='btn'>
		  <span class='glyphicon glyphicon-copy'
			style='margin-bottom: 4px;'></span>
		</a>
	      </div>
	    </div>
	    <div style="margin-top: 15px;">
	      Share this profile:
	    </div>
	    <% } %>
	    <div style="margin-top: 5px;">
	      <div class="copy-to-clipboard form-inline">
		<input readonly
		       style="width: 90%"
		       class="form-control"
		       value='<%- formfields.profile_profile_url %>'>
		<a href='#' class='btn'>
		  <span class='glyphicon glyphicon-copy'
			style='margin-bottom: 4px;'></span>
		</a>
	      </div>
	    </div>
	  </form>
	</center>
      </div>
    </div>
  </div>
</div>
