<div class='col-sm-8 col-sm-offset-2'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <button class='btn btn-info btn-xs pull-right'
	      style='margin-top: -4px;'
	      data-toggle='modal'
	      data-target='#rf-help-modal'
              type='button'>Help</button>
      <h3 class="panel-title text-center">
	Transmit violations for <%- window.NODE_ID %>
	<% if (window.NODE_VNAME !== undefined) { %>
	  (<%- window.NODE_VNAME %>)
	<% } %>
      </h3>
    </div>
    <div class='panel-body'>
      <table class='tablesorter'>
	<thead>
	  <tr>
	    <th>Interface</th>
	    <th>Date</th>
	    <th>Frequency (MHZ)</th>
	    <th>Power (dB)</th>
	  </tr>
	</thead>
	<tbody>
	  <% _.each(violations, function(details) { %>
	    <tr>
	      <td><%- details.iface %></td>
	      <td class="format-date"><%- details.stamp %></td>
	      <td><%- details.frequency %></td>
	      <td><%- details.power %></td>
	    </tr>
	  <% }); %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<div id='rf-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close"
                data-dismiss='modal' aria-hidden='true'>&times;</button>
        <center><h3>About this info ...</h3></center>
      </div>
      <div class='modal-body'>
	<p>
	  This page shows transmit violations for each radio interface
	  on the node. Each line shows the frequency and power that
	  was recorded by the monitor. Please refresh this page as
	  needed, to see if changes to your software results in different 
	  violations, or stops them altogether.
	</p>
	<p>
	  Note that the data is updated approximately every few
	  minutes, so it might take a couple of minutes before you see a
	  change.
	</p>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
