<style>
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    font-size: small;
}
.panel-body > table {
    margin-bottom: 0px;
}
</style>
<div class='col-xs-12'>
  <div>
    <div class='panel panel-default'>
      <div class='panel-heading text-center'>
        <h3 class='panel-title'>Node History
	  <span class="hidden fornode"></span></h3>
      </div>
      <div class='panel-body'>
	<center class="spinning">
	  <img src='images/spinner.gif'/>
	</center>
	<div class="control-buttons hidden"
	     style="margin-bottom: 10px;">
	  <div class="pull-left">
	    <span style="margin-right: 10px;">
	      <input type="checkbox" id="allocated-only" checked> Allocated only
	    </span>
	    <span style="margin-right: 10px;">
	      <input type="checkbox" id="reverse-order" checked> Reverse order
	    </span>
	    <span>
	      <input class='search' type='search' id="start-date"
		     style='width: 80px; margin-right: 5px;'
		     placeholder='MM/DD/YY'>
	      <a href='#' id="start-date-button">
		<span class='glyphicon glyphicon-search'></span></a>
	    </span>
	  </div>
	  <div class="pull-right">
	    <span>
	      <input class='search' type='search' id="search-node"
		     style='width: 120px; margin-right: 5px;'
		     placeholder='Node ID or IP'>
	      <a href='#' id="start-search-button">
		<span class='glyphicon glyphicon-search'></span></a>
	    </span>
	  </div>
	  <div class="text-center" style="margin-right: 325px;">
            <button class='btn btn-primary btn-sm next-button'
                    type='button'>Next</button>
	  </div>
	</div>
	<div id="nodehistory-table-div"></div>
	<div class="control-buttons hidden">
	  <center>
            <button class='btn btn-primary btn-sm next-button'
                    type='button'>Next</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
