<style>
.panel-body-dashboard {
	padding: 5px;
}
.bar rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}

.bar text {
	fill: #000;
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
}
.line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
}
</style>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default'>
      <div class="panel-heading">
	<h5><center>Experiment duration in hours (up to 36 hours)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard align-center'
	   id="duration_oneday"></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default'>
      <div class="panel-heading">
	<h5><center>Experiment duration in days (up to 30 days)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard align-center'
	   id="duration_month"></div>
    </div>
  </div>
</div>
