<div id='toomany_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        You have exceeded the number of experiments you can create as a
        guest user!
      </div>
      <div class='modal-body'>
	<p>Benefits of registering for an account include being able
	  to design your own experiments, have more then one active
          experiment at a time, or extend the life of an experiment longer.
        </p><br>
        <button class='btn btn-primary align-center'
		data-dismiss='modal'
                type='button name='register'>Close</button>
      </div>
    </div>
  </div>
</div>


