; J8697A Configuration Editor; Created on release #K.15.06.5008
; Ver #02:10.0d:1f

hostname "HP-E5406zl" 
module 1 type J9550A 
ip default-gateway 10.3.1.254 
vlan 1 
   name "DEFAULT_VLAN" 
   untagged A1-A19,A21-A24
   no ip address 
   exit 
vlan 10 
   name "control-hardware" 
   untagged A20 
   ip address 10.3.1.253 255.255.255.0 
   exit 
no web-management
management-vlan 10
no autorun
no dhcp config-file-update
no dhcp image-file-update
password manager
password operator
