Source: emulab-ipod-dkms
Maintainer: Testbed Operations <testbed-ops@flux.utah.edu>
Build-Depends: debhelper (>= 9), dkms

Package: emulab-ipod-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the Emulab IPOD ping-of-death driver
