; J9623A Configuration Editor; Created on release #RA.15.05.0006
; Ver #01:01:00

hostname "ProCurve Switch 2620" 
no cdp run 
ip default-gateway 10.1.1.254 
vlan 1 
   name "DEFAULT_VLAN" 
   untagged 1-22,25-28 
   ip address 10.254.254.253 255.255.255.0 
   no untagged 23-24 
   ip igmp 
   exit 
vlan 11 
   name "control-alternate" 
   untagged 24 
   ip address 10.2.1.253 255.255.255.0 
   exit 
vlan 10 
   name "control-hardware" 
   untagged 23 
   ip address 10.1.1.253 255.255.255.0 
   exit 
no lldp run 
no web-management
no snmp-server enable
management-vlan 10
no dhcp config-file-update
password manager
password operator

