ACTION!="remove", SUBSYSTEM=="net", DRIVERS=="?*", ENV{SYSTEMD_WANTS}+="emulab-networkd@$name.service", RUN+="/usr/local/etc/emulab/emulab-networkd-udev-helper.sh $name"
ACTION=="remove", SUBSYSTEM=="net", DRIVERS=="?*", RUN+="systemctl stop --no-block emulab-networkd@$name.service"
