[Unit]
Description=Force udev to settle before systemd-networkd starts
DefaultDependencies=no
After=local-fs.target
Before=systemd-networkd.service
Before=systemd-networkd.socket

[Install]
RequiredBy=systemd-networkd.service
RequiredBy=systemd-networkd.socket

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "Waiting for udev to settle..." ; udevadm settle -t 60 ; stat -t /run/systemd/network/*.network && exit 0 ; while true; do udevadm settle -t 30 && stat -t /run/systemd/network/*.network && break || (echo "Still waiting for udev to settle..." ; sleep 2); done'
ExecStop=
Restart=on-failure
RemainAfterExit=false
TimeoutStartSec=2min
