ErrorDocument 404 /error.php
ErrorDocument 403 /error.php

<FilesMatch "\.(js|css|html)$">
   Header append Cache-Control "no-cache, must-revalidate"
   Header set Pragma "no-cache"
</FilesMatch>

DirectoryIndex landing.php

RewriteBase /
RewriteEngine on

## Only perform this rule if we're on the expected domain
RewriteCond %{HTTP_HOST} aptlab\.net$ [NC]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://www.aptlab.net%{REQUEST_URI} 

# Old quickvm page.
RewriteRule ^/quickvm.php /instantiate.php [R=301,L]

# These work only on www.aptlab.net cause of the path prefix.
RewriteRule ^/p/([^/]+)/([\d]+)/?$ /instantiate.php?profile=$1&version=$2 [R=301,L]
RewriteRule ^/p/([^/]+)/([^/]+)/?$ /instantiate.php?project=$1&profile=$2 [R=301,L]
RewriteRule ^/p/([^/]+)/([^/]+)/([\d]+)/?$ /instantiate.php?project=$1&profile=$2&version=$3 [R=301,L]
RewriteRule ^/p/([^/]+)/? /instantiate.php?profile=$1 [R=301,L]

# Change urlpath.php to urlpath
## Only perform this rule if we're on the expected domain
#RewriteCond %{HTTP_HOST} ^www\.aptlab\.net$ [NC]
## Don't perform this rule if we've already been redirected internally
#RewriteCond %{QUERY_STRING} !internal=1 [NC]
## Redirect the user externally to the non PHP URL
#RewriteRule ^(.*)\.php$ $1 [L,R=302]

# if the user requests /something we need to serve the php version if it exists
## Only perform this rule if we're on the expected domain
#RewriteCond %{HTTP_HOST} ^www\.aptlab\.net$ [NC]
## Perform this rule only if a file with this name does not exist
#RewriteCond %{REQUEST_FILENAME} !-f
## Perform this rule if the requested file doesn't end with '.php'
#RewriteCond %{REQUEST_FILENAME} !\.php$ [NC]
## Only perform this rule if we're not requesting the index page
#RewriteCond %{REQUEST_URI} !^/$
## Finally, rewrite the URL internally, passing through the user's query string
## using the [qsa] flag along with an 'internal=1' identifier so that our first
## RewriteRule knows we've already redirected once.
#RewriteRule ^(.*)$ $1.php?internal=1 [L,QSA]

